<h1>Rooms List <button (click)="addNewRoom()"> + </button></h1>
<p *ngIf="!rooms"><em>Loading...</em></p>
<div class="room-home">
    <div class="rooms-list" *ngIf="rooms">
        <div *ngFor="let room of rooms"
             [class.selected]="room === selecteRoom"
             (click)="onSelect(room)"
             [hidden]="room.deleted">
            <span class="badge">{{room.num || '-' }}</span> {{room.name}} <span> {{room.capacity}}</span>  {{room.price}} <span>{{room.hasChanges?'*':''}}</span><span class="badge" style="float: right;" (click)="delete(room)">delete</span>
</div>
    </div>
    <div *ngIf="selectedRoom" class="room-detail">
        <h2 *ngIf="selectedRoom.num > 0">{{selectedRoom.name}} {{selectedRoom.capacity}}  {{selectedRoom.price}}</h2>
        <h2 *ngIf="!selectedRoom.name">New Room</h2>
        <div>
            <label>Name: </label>
            <input [(ngModel)]="selectedRoom.name" placeholder="name" />
        </div>
        <div>
            <label>Capacity: </label>
            <input [(ngModel)]="selectedRoom.capacity" placeholder="capacity" />
        </div>
        <div>
            <label>Price: </label>
            <input [(ngModel)]="selectedRoom.price" placeholder="price" />
        </div>
    </div>
</div>
<div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create" (click)="saveChanges()">
    <span>SAVE</span>
</div>