<!DOCTYPE html>

<h1>Bookings List</h1>
<p *ngIf="!bookings"><em>Loading...</em></p>
<table class='table' *ngIf="bookings">
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Id Guest</th>
            <th>Id Room</th>
        
        </tr>

    </thead>
    <tbody>
        <tr *ngFor="let booking of bookings">
            <td>{{booking.id}}</td>
            <td>{{ booking.date }}</td>
            <td>{{ booking.id_guest }}</td>
            <td>{{ booking.id_room }}</td>
           
        </tr>
    </tbody>
</table>

